@media (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }

  .plan {
    margin: 0 5px;
  }
}

/* tablet 900px */
@media (max-width: 900px) {
  .main-banner p {
    padding: 0 6rem;
  }

  .search {
    padding: 2rem 4rem;
  }
}

/* celular 576px */
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar-items li {
    font-size: 12px;
    margin-left: 10px;
  }

  .main-banner p {
    padding: 0 2rem;
  }

  .container-services ul {
    flex-direction: column;
  }

  .container-plans {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }

  .plan {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .search h2 {
    font-size: 28px;
  }

  .search input[type="text"] {
    width: 100%;
  }

  .contact {
    padding: 3rem 2rem;
  }

  .contact input,
  .contact textarea {
    width: 100%;
    margin: 10px 0;
  }
}
